# macOS
.DS_Store

# IntelliJ / Android Studio
.idea/
*.iml
local.properties
captures/
.navigation/
.cxx/

# Gradle
.gradle/
build/
**/build/

# Kotlin
*.kotlin_module

# Logs
*.log

# Keystore
*.jks
*.keystore
keystore.properties

# Firebase (local only)
google-services.json
*firebase-adminsdk*.json
