build:
  maxIssues: 0

style:
  MagicNumber:
    active: false
  MaxLineLength:
    active: false

complexity:
  LongMethod:
    active: false

naming:
  FunctionNaming:
    ignoreAnnotated: ['Composable']
  MatchingDeclarationName:
    active: false
